/* Général */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    max-width: 100%;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

/* Titre */
h1 {
    font-size: 1.5em;
    margin: 5px 0;
}

/* Champ de saisie */
#user-input {
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Boutons */
button {
    margin: 5px;
    padding: 8px 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 0.9em;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#controls {
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}

/* Compteur */
#counter p {
    margin: 3px 0;
    font-size: 0.9em;
}

/* Clavier virtuel */
#virtual-keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0px;
}

.key {
    width: 10%;
    max-width: 30px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 0.9em;
    text-align: center;
    cursor: pointer;

    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.key:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

#space {
    width: 50%;
    max-width: 120px;
}

#submit-button{
    background-color: green;
}
#restart-button {
    background-color: red;
    margin-top: 10px;
}

#restart-button:hover {
    background-color: red;
}


@media (max-width: 480px) {
    h1 {
        font-size: 1.1em;
        margin: 0;
    }

    #user-input {
        font-size: 0.8em;
    }

    button {
        font-size: 0.7em;
        padding: 4px 8px;
    }

    #counter p {
        font-size: 0.7em;
    }

    .key {
        width: 10%;
        max-width: 20px;
        padding: 12px;
        font-size: 1em;
    }

    #space {
        width: 70%;
    }
}
